body {
    background: white;
}
nav a {
    text-transform: capitalize;
    text-decoration: none;
}

.dropbtn {
    background-color: #AFC5D8;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    display: inline-block;
    right: 50px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:  #AFC5D8;
    min-width: 100px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #AFC5D8}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #AFC5D8;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%
}


.header {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 5px;
}

.footerarea {
    background-color: #C7D0D8;
    height: 40px;
}

.footer {
    background-color: #C7D0D8;
    color: black;
    text-align: center;
    padding: 5px;
}
.footercontent {
    padding: 5px;
    text-align: left;
}

.imgthumb {
    border: 1 px solid #ddd;
    border-radius: 4px;
    padding: 2px;
    width: 65px;
    left: 50px;
}

p.one {
    border-width: 2px;
    border-style: solid;
    border-color: darkorchid;
    padding: 10px;
}

p.example {
    margin: 20px;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: e3m;
}

form div + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea { 
 font: 1em sans-serif;
 width: 300px;
 box-sizing: border-box;
 border: 1px solid #999;
}

textarea {
 vertical-align: top;
 height: 5em;
}

.button {
    padding-left: 90px;
    
}

button {
    margin-left: .5em;
    cursor: pointer;
    background-color: #FDD8D3;

}

.error {
    border-color: red;
}

.error-message {
    color: red;
}

p {
    font-family: "Georgia", serif;
}

